<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="assalaam.layout.id.septian">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LinearLayout" />
        <activity
            android:name=".ClassKeDua"
            android:label="@string/title_activity_class_ke_dua" />
        <activity
            android:name=".LayoutSederhana"
            android:icon="@drawable/download"
            android:label="@string/title_activity_layout_sederhana"></activity>
        <activity
            android:name=".TampilanLayoutTabel"
            android:label="@string/title_activity_tampilan_layout_tabel" />
        <activity
            android:name=".GambarAndroid"
            android:label="@string/title_activity_gambar_android" />
        <activity
            android:name=".AutoCompleteSederhana"
            android:label="@string/title_activity_auto_complete_sederhana"></activity>
        <activity
            android:name=".DialogBox"
            android:label="@string/title_activity_dialog_box">
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>